<div class="puzzle-board">
    <table class="tile-grid">

        <tr class="tile-grid__row" *ngFor="let row of boardRows(); index as y">

            <td *ngFor="let puzzlePiece of row; index as x">
                <puzzle-piece *ngIf="puzzlePiece" [imagePosition]="puzzlePiece.imagePosition"
                    [index]="puzzlePiece.index" [boardPosition]="{x,y}" (onMoveRequest)="movePiece($event)" />


            </td>
        </tr>

    </table>
</div>

<div class="winner-text" *ngIf="isFinished">
    WINNER
</div>